@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
}

body {
  background-color: #F4FBFF;
  font-family: 'Yusei Magic', sans-serif;
  color: #373785;
}

@media (max-width: 650px) {
  body._lock {
    overflow: hidden;
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  margin: 0px auto;
  padding: 0 15px;
  max-width: 1440px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    width: 100%;
    padding: 16px;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  width: calc(1069/1440*100%);
  margin: auto;
}

@media (max-width: 992px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main {
    max-height: none;
    max-width: none;
  }
}

.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 650px) {
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.logo {
  position: relative;
}

.logo img {
  width: calc(177/1069*100%);
  width: 177px;
}

.contacts {
  position: absolute;
  right: 0px;
  top: 35%;
  text-align: right;
}

@media (max-width: 650px) {
  .contacts {
    position: relative;
    margin: 15px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 20px;
  color: #373785;
  position: relative;
  margin-bottom: 20px;
}

.contacts__title::after {
  content: '';
  position: absolute;
  background-color: #373785;
  width: 100%;
  height: 2px;
  left: 0;
  top: 160%;
}

.contacts__numbers {
  letter-spacing: -0.02em;
  font-size: 16px;
}

.contacts__name {
  color: #373785;
  margin-right: 3px;
  font-size: 18px;
}

.phone {
  color: #000;
}

.nav-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(770/1069*100%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.nav-menu__list li {
  position: relative;
}

.nav-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(170/770*100%);
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-height: 42px;
  background: #328ACA;
  -webkit-box-shadow: 1px 3px 4px rgba(117, 117, 117, 0.44);
          box-shadow: 1px 3px 4px rgba(117, 117, 117, 0.44);
  border-radius: 11px;
  cursor: pointer;
}

.nav-menu__button:nth-child(3) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.nav-menu__button span {
  vertical-align: middle;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.165em;
  color: #FFFFFF;
  margin: 6px 6px;
}

@media (max-width: 767px) {
  .nav-menu__button span {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .nav-menu__icon {
    z-index: 5;
    display: block;
    position: fixed;
    width: 30px;
    height: 18px;
    top: 30px;
    right: 30px;
    background-color: rgba(44, 38, 63, 0.568);
    border-radius: 50px;
    -webkit-box-shadow: 0 0 5px 5px rgba(44, 38, 63, 0.568);
            box-shadow: 0 0 5px 5px rgba(44, 38, 63, 0.568);
  }
  .nav-menu__icon span, .nav-menu__icon::before, .nav-menu__icon::after {
    left: 0;
    position: absolute;
    height: 17%;
    border-radius: 20px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #373785;
  }
  .nav-menu__icon::before, .nav-menu__icon::after {
    content: "";
  }
  .nav-menu__icon::before {
    bottom: 0;
  }
  .nav-menu__icon::after {
    top: 0;
  }
  .nav-menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .nav-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    position: absolute;
    right: 60px;
    top: 30px;
  }
  .nav-menu__list > li {
    margin-bottom: 20px;
  }
  .nav-menu__list > li:nth-child(3) {
    margin-bottom: 0;
  }
  .nav-menu__body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .nav-menu__body._active {
    left: 0;
  }
  .nav-menu__button {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .nav-menu__button span {
    font-size: 28px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 770px;
  width: calc(770/1069*100%);
  margin: 32px auto 80px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
}

@media (max-width: 767px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none;
    max-width: none;
    width: auto;
    margin: auto 5%;
  }
}

@media (max-width: 426px) {
  .about {
    margin: 20px auto 20px auto;
  }
}

.about__column {
  max-width: calc(369/770*100%);
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 3px 10px #CECECE;
          box-shadow: 0px 3px 10px #CECECE;
  padding: 16px;
  position: relative;
}

@media (max-width: 767px) {
  .about__column {
    display: table;
    max-width: none;
    max-height: none;
  }
}

.about__left-pic {
  position: absolute;
  width: calc(204/369*100%);
  left: -41.5%;
  top: -6%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 10px #CECECE;
          box-shadow: 0px 3px 10px #CECECE;
}

@media (max-width: 767px) {
  .about__left-pic {
    left: -10%;
    top: 0;
    width: 121px;
  }
}

.about__right-pic {
  position: absolute;
  width: calc(204/369*100%);
  right: -41.5%;
  top: -6%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 10px #CECECE;
          box-shadow: 0px 3px 10px #CECECE;
}

@media (max-width: 767px) {
  .about__right-pic {
    left: -10%;
    top: 0;
    width: 121px;
  }
}

.about__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: #373785;
}

.about__title span {
  font-weight: 700;
  font-size: 48px;
  line-height: 120.3%;
  /* or 58px */
  text-align: center;
}

@media (max-width: 767px) {
  .about__title {
    font-size: 24px;
  }
  .about__title span {
    font-size: 32px;
  }
}

.about__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #373785;
}

.bold {
  font-weight: 700;
}

.list li::before {
  content: '';
  width: 7px;
  height: 7px;
  background-color: #373785;
  display: inline-block;
  border-radius: 50px;
  margin-right: 7px;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.price-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 2px 2px 4px 2px #CECECE;
          box-shadow: 2px 2px 4px 2px #CECECE;
  margin-bottom: 9px;
  position: relative;
}

.price-list__row::after {
  content: '';
  position: absolute;
  height: 94%;
  width: 1px;
  top: 3%;
  right: 154px;
  border: 1px solid rgba(255, 255, 255, 0.007);
  -webkit-box-shadow: 2px 2px 2px #cecece9a;
          box-shadow: 2px 2px 2px #cecece9a;
  border-radius: 50px;
}

.price-list__row:last-child {
  margin-bottom: 30px;
}

@media (max-width: 579px) {
  .price-list__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-list__row::after {
    display: none;
  }
}

.price-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 20px;
  max-width: 168px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-list__icon img {
  border-radius: 50px;
}

@media (max-width: 579px) {
  .price-list__icon {
    width: 34px;
    margin-top: 10px;
  }
  .price-list__icon img {
    width: 70px;
    position: absolute;
  }
}

.price-list__text {
  display: block;
  width: 820px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.025em;
  text-align: left;
  color: #373785;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.price-list__text p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* or 128% */
  letter-spacing: 0.025em;
  color: #373785;
}

.price-list__price {
  width: 154px;
  display: block;
  margin: auto;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  /* or 128% */
  letter-spacing: 0.025em;
  color: #373785;
  position: relative;
}

@media (max-width: 579px) {
  .price-list__price {
    margin: 25px auto 8px auto;
  }
  .price-list__price::after {
    content: '';
    position: absolute;
    width: 190%;
    height: 1px;
    left: -48%;
    top: -12px;
    border: 1px solid rgba(255, 255, 255, 0.007);
    -webkit-box-shadow: 2px 2px 2px #cecece9a;
            box-shadow: 2px 2px 2px #cecece9a;
    border-radius: 50px;
  }
}

.reviews__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .reviews__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reviews__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.reviews__item img {
  width: 100%;
}

.carousel-item img {
  max-height: 50rem;
}

.address {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__main {
  text-align: center;
}

.address__main p {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 155.8%;
  letter-spacing: -0.02em;
  color: #373785;
}

.address__main span {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 155.8%;
  /* or 37px */
  text-align: center;
  letter-spacing: -0.02em;
  color: #328ACA;
}

.address__road {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 155.8%;
  /* or 44px */
  letter-spacing: -0.02em;
  color: #373785;
  margin: 20px 0;
}

.address__way .name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 155.8%;
  /* or 31px */
  letter-spacing: -0.02em;
  color: #373785;
  margin-bottom: 10px;
}

.address__way .name:after {
  content: '';
  background: url("/img/arrow.png") no-repeat;
  width: 29px;
  height: 29px;
  margin-left: 8px;
  position: absolute;
}

.address__way img {
  margin-bottom: 20px;
  width: 100%;
}

.description {
  font-style: normal;
  font-size: 18px;
  line-height: 155.8%;
  /* or 25px */
  letter-spacing: -0.02em;
  color: #373785;
  margin-bottom: 5px;
}

.connection {
  margin-bottom: 60px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 155.8%;
  /* or 44px */
  letter-spacing: -0.02em;
  color: #373785;
}

.socials {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 155.8%;
  /* or 25px */
  text-align: center;
  letter-spacing: -0.02em;
  color: #373785;
  margin-bottom: 30px;
}

.blue {
  color: #373785;
}

.schedule {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 155.8%;
  /* or 37px */
  text-align: center;
  letter-spacing: -0.02em;
  color: #373785;
  margin-bottom: 50px;
}
